<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Annotate Photos!</title>

        <link rel="stylesheet" href="{{ url_for('static',     filename='css/annotations.css') }}">
    </head>
    <body>
        {% extends "template.html" %}
        {% block content %}

        <h1 class = "p2"> Please let us know whose face this is! </h1>

        <img src="https://www.biography.com/.image/t_share/MTE4MDAzNDEwNzg5ODI4MTEw/barack-obama-12782369-1-402.jpg" alt="Barack" width="333" height="333">

        <form class = "p2" action="" method="post">
            <label for="fname1">Name: </label>
            <input type="text" id="fname1" name="fname1"><br><br>
            <input onclick="alert('Successfully Uploaded! (Name)')" type="submit" value="Submit">
          </form>

        <img src="https://www.biography.com/.image/t_share/MTczNjEwODI2NTg5MDg3MTI0/michelle-obama-gettyimages-85246899.jpg" alt="Michelle" width="333" height="333">

        <form class = "p2" action="" method="post">
            <label for="fname2">Name: </label>
            <input type="text" id="fname2" name="fname2"><br><br>
            <input onclick="alert('Successfully Uploaded! (Name)')" type="submit" value="Submit">
          </form>

        <img src="https://media.vanityfair.com/photos/5bae610487834306acdc6754/4:3/w_1776,h_1332,c_limit/malia-obama-college-music-video.jpg" alt="Malia" width="333" height="333">

        <form class = "p2" action="" method="post">
            <label for="fname3">Name: </label>
            <input type="text" id="fname3" name="fname3"><br><br>
            <input onclick="alert('Successfully Uploaded! (Name)')" type="submit" value="Submit">
          </form>

        <img src="https://www.biography.com/.image/ar_1:1%2Cc_fill%2Ccs_srgb%2Cg_face%2Cq_auto:good%2Cw_300/MTgxODkyNjEwNjk5MzA2MzEy/gettyimages-498724368.jpg" alt="Sasha" width="333" height="333">

        <form class = "p2" action="" method="post">
            <label for="fname4">Name: </label>
            <input type="text" id="fname4" name="fname4"><br><br>
            <input onclick="alert('Successfully Uploaded! (Name)')" type="submit" value="Submit">
          </form>

        <a href="/upload" class="previous">&laquo; Previous</a>
        <a href="/classify" class="next">Next &raquo;</a>

        {% endblock %}
    </body>
</html>