<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
  </head
  <body>
    {% extends "template.html" %}
    {% block content %}

    <strong><nav>
      <button class="button" sytle = "vertical-align:middle">
        <span><a href="{{ url_for('upload') }}">Start with making folders of your friends and family!</a></span>
      </button>
    </nav></strong>

    <h1 class = "p2"> About our webpage </h1>
    <p class = "p2">This webpage allows you to make several separate folders that contains specific person.
    <br>
    <br>For example, you have friends named Michael, John and your name is Daniel.
    <br>You want to make three folders named "Michael", "John", and "Daniel".
    <br>In the Michael folder, there are all the photos that has Michael in it.
    <br>In the John folder, there are all the photos that has John in it.
    <br>As you may have guessed or wanted, each folder may have overlapping photos as one photo can have both Michael and John.
    <br>
    <br>Now, if you are fully understood about this webpage, please upload a folder that contains the photos you want to process.</p>

    {% endblock %}
  </body>
</html>